<div style="background-color: #53b327;" class="text-light py-4 mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-4 mb-3">
                <h5>
                    <i class="fa-solid fa-fire-burner text-warning me-2"></i>CooksPedia
                </h5>
                <p class="small">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nemo sit cumque placeat quasi harum iusto in adipisci eveniet, quisquam minus ut maxime pariatur esse labore voluptatibus ratione dicta eos aut!.</p>
            </div>

            <div class="col-md-4 mb-3 text-center">
                <h6> Links</h6>
                <ul class="list-unstyled">
                    <li><a routerLink="/" class="text-light text-decoration-none">Home</a></li>
                    <li><a routerLink="/about" class="text-light text-decoration-none">About</a></li>
                    <li><a routerLink="/recipes" class="text-light text-decoration-none">Recipes</a></li>
                    <li><a routerLink="/contact" class="text-light text-decoration-none">Contact</a></li>
                </ul>
            </div>
            <div class="col-md-4 mb-3">
                <h6>Feedbacks</h6>
                <textarea placeholder="Enter Your Feedbacks" name="" id="" class="form-control"></textarea>
                <button class="btn btn-warning mt-3">Send</button>
            </div>
        </div>

        <hr class="border-light">

        <div class="text-center small">
            &copy; 2025 CooksPedia. All rights reserved.
        </div>
    </div>
</div>
