<div class="container-fluid py-4" style="min-height: 80vh;">
    <div class="row g-4">
        <div class="col-12 col-md-6 d-flex flex-column align-items-center">
            <div class="card shadow-lg border-0 w-100">
                <img src={{recipe?.image}} alt="recipeimg" class="card-img-top img-fluid rounded-top">
                <div class="card-body text-center">
                    <div class="d-flex flex-column flex-sm-row gap-3 justify-content-center">
                        <button (click)="downloadRecipe()" class="btn btn-success flex-fill">
                            <i class="fa-solid fa-download me-2"></i> Download Recipe ({{ downloadCount}})
                        </button>
                        <button (click)="saveRecipe()" class="btn btn-info flex-fill text-white">
                            <i class="fa-solid fa-bookmark me-2"></i> Save Recipe
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-6">
            <h1 class="text-center my-4 fw-bold">{{recipe.name}}</h1>

            <div class="row g-3">
                <div class="col-6 col-lg-4">
                    <div class="p-3 border border-2 rounded shadow-sm text-center">
                        <i class="fa-solid fa-utensils text-danger fs-4 mb-2"></i>
                        <h6 class="fw-bold mb-0">Cuisine</h6>
                        <small>{{recipe.cuisine}}</small>
                    </div>
                </div>
                <div class="col-6 col-lg-4">
                    <div class="p-3 border border-2 rounded shadow-sm text-center">
                        <i class="fa-solid fa-gauge-high text-warning fs-4 mb-2"></i>
                        <h6 class="fw-bold mb-0">Difficulty</h6>
                        <small>{{recipe.difficulty}}</small>
                    </div>
                </div>
                <div class="col-6 col-lg-4">
                    <div class="p-3 border border-2 rounded shadow-sm text-center">
                        <i class="fa-solid fa-bowl-rice text-success fs-4 mb-2"></i>
                        <h6 class="fw-bold mb-0">Servings</h6>
                        <small>{{recipe.servings}}</small>
                    </div>
                </div>
                <div class="col-6 col-lg-4">
                    <div class="p-3 border border-2 rounded shadow-sm text-center">
                        <i class="fa-solid fa-clock text-primary fs-4 mb-2"></i>
                        <h6 class="fw-bold mb-0">Cook Time</h6>
                        <small>{{recipe.cookTimeMinutes}} min</small>
                    </div>
                </div>
                <div class="col-6 col-lg-4">
                    <div class="p-3 border border-2 rounded shadow-sm text-center">
                        <i class="fa-solid fa-clock text-primary fs-4 mb-2"></i>
                        <h6 class="fw-bold mb-0">Prep Time</h6>
                        <small>{{recipe.prepTimeMinutes}} min</small>
                    </div>
                </div>
                <div class="col-6 col-lg-4">
                    <div class="p-3 border border-2 rounded shadow-sm text-center">
                        <i class="fa-solid fa-fire-flame-curved text-danger fs-4 mb-2"></i>
                        <h6 class="fw-bold mb-0">Calories</h6>
                        <small>{{recipe.caloriesPerServing}} kcal</small>
                    </div>
                </div>
            </div>

            <div class="mt-4">
                <h6>Meal Type: <span class="fw-bold text-primary">{{recipe.mealType}}</span></h6>
            </div>

            <div class="mt-4">
                <h4 class="fw-bold border-bottom pb-2">Ingredients</h4>
                <ul class="list-group list-group-flush">
                    @for(i of recipe.ingredients;track $index;){
                    <li class="list-group-item">{{i}}</li>
                    }
                </ul>
            </div>

            <div class="mt-4">
                <h4 class="fw-bold border-bottom pb-2">Instructions</h4>
                <ol class="list-group list-group-numbered">
                    @for(i of recipe.instructions;track $index;){
                    <li class="list-group-item">{{i}}</li>
                    }
                </ol>
            </div>
        </div>
    </div>
</div>