<div class="container-fluid">
    <div class="row">
        <div class="col bg-success">
            <img src="https://cdn-icons-png.flaticon.com/512/3565/3565418.png" alt="">
        </div>
        <div class="col d-flex flex-column justify-content-center">
            <h2>CooksPedia 2025</h2>
            <h6>Discover 100+ recipes in Your hand with the best recipes.Help you to find the easiest ways to cook</h6>
        </div>
    </div>
    <div class="row">
        <div class="col d-flex flex-column justify-content-center">
            <h1>About Us</h1>
            <p style="text-align: justify;">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vitae nam a,
                corporis
                ut necessitatibus soluta exercitationem, expedita repudiandae voluptatibus incidunt repellendus? Amet
                culpa
                quae repellat deserunt dolorum, quibusdam odio blanditiis!
                Soluta nesciunt et vitae nemo ratione necessitatibus, minima alias earum odio. Ea aut laborum magni ipsa
                eveniet voluptate assumenda. Magni ipsum ea quidem, quo alias dolor illo iusto quos vero?
                Sed consectetur in excepturi sunt vel porro numquam praesentium dolor quaerat, deserunt consequatur
                debitis
                dolorem maiores dolore architecto alias totam pariatur nostrum aut odio doloribus, molestiae corrupti.
                Quod,
                nostrum incidunt.</p>
            <ul>
                <li>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Itaque, deleniti ab possimus, porro
                    architecto atque perspiciatis </li>
                <li>magnam assumenda voluptates vel facilis quo debitis aperiam laborum aspernatur tempora reiciendis!
                    Laudantium, recusandae?</li>
                <a class="btn btn-outline-success" href="">Click to Know More</a>
            </ul>
        </div>
        <div class="col bg-success text-center">
            <img style="height: 300px;" class="img-fluid" src="https://static.vecteezy.com/system/resources/previews/037/219/950/non_2x/illustration-of-a-chef-holding-a-platter-and-showing-thumbs-up-free-png.png" alt="">
        </div>
    </div>
</div>